**Introduction to SQL and Advanced
Functions | Assignment**

**Q1. Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.**

ANS. **Data Definition Language (DDL)**

DDL commands are used to define, modify, and delete database objects (like tables, indexes, and views). They deal with the structure or schema of the database, rather than the data itself.
Key purpose: Managing the skeleton of the database.

**Examples of DDL commands:**

CREATE, ALTER, DROP, TRUNCATE, RENAME.

CREATE TABLE Students (

    StudentID int,
    LastName varchar(255),
    FirstName varchar(255),
    Age int
);


**Data Manipulation Language (DML)**

DML commands are used to manage the data stored within the database objects defined by DDL. They allow users to insert new records, update existing ones, and delete records.

**Key purpose:**

Interacting with the records (rows) in the tables.

**Examples of DML commands:**

 INSERT, UPDATE, DELETE, MERGE, CALL.

**Example command:**

INSERT INTO Students

(StudentID, LastName, FirstName, Age)
VALUES (1, 'Doe', 'John', 20);


**Data Query Language (DQL)**

DQL commands are used for retrieving data from the database. While sometimes grouped with DML because it works with the data, DQL has a distinct purpose: fetching information without modifying the data or the schema.

**Key purpose:**
Reading and viewing data.

**Example of a DQL command:**
SELECT.

SELECT FirstName, LastName FROM Students WHERE Age > 18;

**Q2.What is the purpose of SQL constraints? Name and describe three common types of constraints, providing a simple scenario where each would be useful.**

ANS.SQL constraints are rules enforced on data columns in a database table that limit the types of data that can go into that table [1]. They are used to ensure the accuracy, integrity, and reliability of the data. This data integrity is important for ensuring that the data stored in the database remains meaningful and useful, preventing invalid data from being inserted during an INSERT or UPDATE operation [1].

**Three common types of SQL constraints are:**

1. **Constraint**
* NOT NULL

**Description**

Ensures that a column cannot have a NULL (empty or missing) value [1, 2]. This guarantees that essential data is always present.

**Scenario Example**

In a Customers table, the EmailAddress column should be marked NOT NULL to ensure every customer record has a contact method

2. **Constraint**

* UNIQUE


**Description**

Ensures that all values in a column are different [1, 2]. This enforces the uniqueness of data across a table while still allowing NULL values (unlike a PRIMARY KEY)

**Scenario Example**

In a Products table, the ProductSKU (Stock Keeping Unit) column should have a UNIQUE constraint to ensure each product has a distinct, identifiable code

3. **Constraint**
* PRIMARY KEY

**Description**

A combination of NOT NULL and UNIQUE. It uniquely identifies each row (record) in a database table [1, 2]. Every table should have one

**Scenario Example**

In an Employees table, the EmployeeID column is an ideal PRIMARY KEY to give each employee a single, unique identifier for accessing their records [2].

**Q3. Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page has 10 records?**

ANS. **LIMIT and OFFSET Clauses in SQL**

Both `LIMIT` and `OFFSET` clauses are used in SQL to control the number of rows returned by a query and to specify the starting point of the result set, primarily for pagination.

*   **`LIMIT` Clause:**
    *   **Purpose:** The `LIMIT` clause is used to restrict the number of rows returned by a `SELECT` statement. It specifies the maximum number of rows that should be retrieved from the result set.
    *   **Syntax:** `SELECT column1, column2 FROM table_name LIMIT count;`
    *   **Example:** `SELECT * FROM Products LIMIT 5;` would return only the first 5 rows.

*   **`OFFSET` Clause:**
    *   **Purpose:** The `OFFSET` clause is used in conjunction with `LIMIT` to skip a specified number of rows before beginning to return the result set. It defines the starting point for retrieving records.
    *   **Syntax:** `SELECT column1, column2 FROM table_name LIMIT count OFFSET skip_count;`
    *   **Example:** `SELECT * FROM Products LIMIT 5 OFFSET 10;` would skip the first 10 rows and then return the next 5 rows.

**Using `LIMIT` and `OFFSET` for Pagination (Retrieving the third page of results, each page has 10 records):**

To retrieve the third page of results where each page contains 10 records, you need to:
1.  **Determine `LIMIT`:** This will be the number of records per page, which is 10.
2.  **Determine `OFFSET`:** This is the number of records to skip before fetching the current page. For the third page, you need to skip the records from the first two pages. If each page has 10 records, then you skip `(page_number - 1) * records_per_page` records. So, for the third page: `(3 - 1) * 10 = 2 * 10 = 20`.

Therefore, the `OFFSET` will be 20.

**4.  What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.**

ANS. **Common Table Expression (CTE) in SQL**

A Common Table Expression (CTE) is a named, temporary result set that you can reference within a single SQL statement (SELECT, INSERT, UPDATE, or DELETE). It's essentially a temporary view that lives only for the duration of the query in which it is defined.

CTEs are defined using the `WITH` clause.

**Main Benefits of CTEs:**

1.  **Readability and Organization:** CTEs help break down complex queries into smaller, more manageable, and more readable logical units. This improves code clarity, especially for long or intricate SQL statements.

2.  **Modularity and Reusability (within a single query):** A CTE can be referenced multiple times within the same query, avoiding redundant code and making the query easier to maintain. If the logic for the CTE needs to change, you only update it in one place.

3.  **Simplifying Complex Joins and Subqueries:** CTEs can simplify queries that involve multiple joins or nested subqueries by defining intermediate result sets with clear names.

4.  **Enabling Recursion:** CTEs are essential for performing recursive queries, which are used to query hierarchical data (e.g., organizational charts, bill of materials).

5.  **Improving Performance (sometimes):** While not a guaranteed performance enhancer, simplifying complex queries can sometimes allow the database optimizer to create a more efficient execution plan.

**Simple SQL Example Demonstrating CTE Usage:**

Let's imagine we have a `Sales` table with `ProductID`, `SaleDate`, and `SaleAmount`. We want to find the total sales for each product and then only show products whose total sales are above a certain threshold.

Without CTE:

```sql
SELECT ProductID, TotalSales
FROM (
    SELECT ProductID, SUM(SaleAmount) AS TotalSales
    FROM Sales
    GROUP BY ProductID
) AS ProductSales
WHERE TotalSales > 1000;
```

With CTE:

```sql
WITH ProductSales AS (
    SELECT ProductID, SUM(SaleAmount) AS TotalSales
    FROM Sales
    GROUP BY ProductID
)
SELECT ProductID, TotalSales
FROM ProductSales
WHERE TotalSales > 1000;
```

In this example:
*   The `ProductSales` CTE calculates the total sales for each product.
*   The main `SELECT` statement then easily queries this `ProductSales` CTE to filter for products with `TotalSales` greater than 1000.

This makes the query logic much clearer and easier to understand, as the intermediate step (calculating `ProductSales`) is explicitly named and separated.

**Q5. Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).**

ANS. **SQL Normalization**

SQL Normalization is a systematic approach to designing relational database schemas to minimize data redundancy and improve data integrity. It involves breaking down large tables into smaller, less redundant tables and defining relationships between them. The process is guided by a series of rules called "Normal Forms."

**Primary Goals of SQL Normalization:**

1.  **Eliminate Redundant Data:** Reduce data duplication, which saves storage space and prevents inconsistencies.
2.  **Improve Data Integrity:** Ensure that data is accurate and consistent across the database by preventing update, insertion, and deletion anomalies.
3.  **Enhance Database Flexibility:** Make the database structure easier to modify and extend without affecting existing data.
4.  **Simplify Querying:** While sometimes adding complexity in terms of joins, well-normalized databases can lead to more logical and efficient queries in the long run.

**Brief Explanation of the First Three Normal Forms:**

1.  **First Normal Form (1NF):**
    *   **Definition:** A table is in 1NF if it meets the following criteria:
        *   Each column contains atomic (indivisible) values. There are no repeating groups or arrays within a single column.
        *   Each column has a unique name.
        *   The order of data does not matter.
    *   **Goal:** To eliminate repeating groups from tables and create a separate table for each set of related data.
    *   **Example (Not 1NF):** A table `Customers` with a column `PhoneNumbers` containing "123-4567, 987-6543" for a single customer.
    *   **Example (1NF):** The `PhoneNumbers` would be split into separate rows or a separate related table, or multiple distinct phone number columns (though a separate table is usually preferred for flexibility).

2.  **Second Normal Form (2NF):**
    *   **Definition:** A table is in 2NF if it is already in 1NF **and** all non-key attributes are fully functionally dependent on the primary key. This means that no non-key attribute is dependent on only a *part* of a composite primary key.
    *   **Goal:** To eliminate partial dependencies of non-key attributes on a composite primary key.
    *   **Example (Not 2NF):** A `OrderDetails` table with a composite primary key `(OrderID, ProductID)` and columns like `ProductName` and `ProductPrice`. `ProductName` and `ProductPrice` are dependent only on `ProductID`, not the full composite key.
    *   **Example (2NF):** `ProductName` and `ProductPrice` would be moved to a separate `Products` table, with `ProductID` as its primary key.

3.  **Third Normal Form (3NF):**
    *   **Definition:** A table is in 3NF if it is already in 2NF **and** there are no transitive dependencies. A transitive dependency exists when a non-key attribute is dependent on another non-key attribute.
    *   **Goal:** To eliminate transitive dependencies.
    *   **Example (Not 3NF):** A `Employees` table with `EmployeeID` (Primary Key), `EmployeeName`, `DepartmentName`, and `DepartmentLocation`. If `DepartmentLocation` is dependent on `DepartmentName` (a non-key attribute), then there is a transitive dependency.
    *   **Example (3NF):** `DepartmentName` and `DepartmentLocation` would be moved to a separate `Departments` table, with `DepartmentName` (or a `DepartmentID`) as its primary key, and the `Employees` table would have a `DepartmentName` (or `DepartmentID`) as a foreign key.